BLAS/
*~
.gitignore
.DS_Store
A.mat
B.dat
CompareOutput.R
Frame.h
Frame.h-12-01-11.bak
Makefile-linux
Makefile-mac
Matrix.h-12-01-11.bak
MatrixFrame-12-08-15.h
MatrixIO.R
MatrixTest.R
MatrixTest.c
TestData/
Try.cpp
a.out
blasqr.ps
dgesvd.f.txt
dsyevd.f.txt
test
test.o
*.o
dsyrk.f.txt
